/* Version 2022.11.15.09.44 */

body {
  background-color: #012345;
  color: #fedcba;
  font-family: "Times New Roman", Times, serif;
}

.topnav {
  background-color: #333333;
  overflow: hidden;
  width: 100%;
}

.topnav img {
  float: left;
  height: 5%;
  width: 5%;
}

.title {
  float: left;
  text-align: center;
}

#title {
  width: 20%;
}

.main {
  padding: 1em;
}
