/* Version 2022.11.15.11.37 */

body {
  background-color: #012345;
  color: #fedcba;
  font-family: "Times New Roman", Times, serif;
}

.topnav {
  background-color: #333333;
  overflow: hidden;
  width: 100%;
}

.topnav img {
  height: 5%;
  width: 5%;
}

#menu {
  float: left;
}

.title {
  float: left;
  text-align: center;
  width: 85%;
}

.title-text {
  float: right;
  font-size: 250%;
  width: 33.333%;
}

.rimg {
  float: right;
}

.main {
  padding: 1em;
}
